{% extends 'product/base.html' %}
{% load template_tags %}
{%block title%}Cart{%endblock title%}
{% block content %}
<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0 ">
                <thead class="thead-dark ">
                    <tr>
                        <th>محصول</th>
                        <th>قیمت</th>
                        <th>تعداد</th>
                        <th>رنگ</th>
                        <th>اندازه</th>
                        <th>قیمت کل</th>
                        <th>حذف</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for item in cart %}
                    <tr>
                        <td class="align-middle"><a href="{% url 'product:product_detail' item.product.slug%}"><img src="{{item.product.thumbnail.url}}" alt="" style="width: 50px;"></a> {{item.title}}</td>
                        <td class="align-middle">{% if item.valid_discount %}{{item.cal_discount}}{% else %}{{item.price}}{% endif %}</td>
                        <td class="align-middle">
                            <form action="{% url 'cart:cart_add' item.product.id %}" method="post">
                                {% csrf_token %}
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary btn-minus rounded" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text"  class="form-control bg-secondary border-0 text-center" name="quantity" id="id_quantity" value="{{item.quantity}}"> 
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary btn-plus rounded">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <input type="hidden" name="override" value="True" id="id_override">
                                <noscript><input type=”submit” value=”Submit”></noscript>
                            </form>
                        </td>
                        <td class="align-middle">
                            <div class="colors">
                                {% if item.color%}
                                    <span class="swatch" style="background-color:{{item.code}};border-radius:15px;"></span>
                                {% else %}
                                <span>-</span>
                                {%endif%}
                            </div>
                        </td>
                        <td class="align-middle">
                            <div>
                                {% if item.size %}
                                    {{item.size}}
                                {% else %}
                                    <span>-</span>  
                                {%endif%}
                            </div>
                        </td>
                        <td class="align-middle">{{item.total_price|price_format}}</td>
                        <form action="{% url 'cart:cart_delete' item.product.id %}" method="post">
                            {% csrf_token %}
                            <td class="align-middle"><button class="btn btn-sm btn-danger rounded"><i class="fa fa-times"></i></button></td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
              <!-- /.col -->
      <div class="col-lg-4 custome-border">
        <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">خلاصه ی خرید</span></h5>
        <div class="bg-light p-30 mb-5 custome-border">
            <div class="border-bottom pb-2">
                <div class="d-flex justify-content-between mb-3">
                    <h5>قیمت محصولات</h6>
                    <h6>{{cart.get_total_price|price_format}}</h6>
                </div>
            </div>
            <div class="border-bottom pb-2">
                <div class="d-flex justify-content-between mb-3 mt-3">
                    <h5>تخفیف (به درصد)</h5>
                    {% if not cart.get_total_price_after_discount == 0 %}
                        <h6>{{cart.coupon.discount }}%</h6>
                    {% else %}
                        <h5>0%</h5>
                    {%endif%}
                </div>
            </div>
            <div class="pt-2">
                <div class="d-flex justify-content-between mt-2">
                    <h5>قیمت کل</h5>
                    <h5>{{cart.get_total_price_after_discount|price_format}}</h5>
                </div>
                <a href="{% url 'orders:checkout' %}" class="btn btn-block btn-dark font-weight-bold my-3 py-3 rounded">مرحله بعد</a>
            </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
</div>
<!-- Cart End -->

{% endblock content%}
