{% extends 'registration/base.html'%}
{% load static %}
{% block title%}Change password{%endblock title%}
{% block body%}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="{% static 'login/images/img-01.png' %}" alt="IMG">
            </div>
            <form class="login100-form validate-form" method="post">
                {% csrf_token %}
                <span class="login100-form-title">
                    Change passwored
                </span>
            
                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <input class="input100" type="password" name="new_password1" id="id_new_password1" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
            
                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <input class="input100" type="password" name="new_password2" id="id_new_password2" placeholder="confirm password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
            
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Enter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body%}