{% extends 'registration/base.html'%}
{% load static %}
{% block title%}Forget password{%endblock title%}
{% block body%}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="{% static 'login/images/img-01.png' %}" alt="IMG">
            </div>
            <form class="login100-form validate-form" method="post">
                {% csrf_token %}
                <span class="login100-form-title">
                    Forget password
                </span>
                <div class="wrap-input100 validate-input" data-validate = {{form.phone_number.error}}>
                    <!-- <input class="input100" type="text" name="phone" placeholder="phone"> -->
                    <input class="input100" placeholder="phone" type="text" name="phone_number" required="" id="id_phone_number" >
                    <span class="symbol-input100">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="fieldWrapper">
                    {{ form.phone_number.errors }}
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Enter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body%}