{% extends 'product/base.html' %}
{% load i18n widget_tweaks %}
{% load static %}
{% load template_tags %}
{%block title%}مشخص کردن آدرس{%endblock title%}
{% block content %}
  <!-- Main content -->
  {% if active_address is not none%}
  <div class="container-fluid">
    <div class="row px-xl-5 ow-cols-2">
      <!-- /.col -->
      <div class="col-lg-7 mb-5">
        <div class="card custome-border bg-light">
          <div class="card-body">
              <div class="post">
                  <p style="text-align:left;margin-bottom:0;">
                    <button type="button" class="btn btn-dark rounded" data-toggle="modal" data-target="#modal-xl">
                      تغییر آدرس
                    </button>
                  </p>
                  <p style="margin-right: 30px;">
                    آدرس تحویل سفارش
                  </p>
                  <div>
                    <div class="location-icone"> 
                      <img src="{% static 'product/icones/order-delivered.png'%}" width="30px" alt="">
                    </div>
                    <div class="address-title">
                      <h4 class="d-inline-block" style="font-size: 18px;">{{active_address.address}}</h4>
                    </div>
                  </div>
                  <p style="margin-right: 30px;margin-top:10px;">{{active_address.user.first_name}} {{active_address.user.last_name}}</p>
              </div>
          </div><!-- /.card-body -->
        </div>
        <form action="{% url 'orders:create_order' %}" method="post" id="checkout">{% csrf_token %}
          <div class="card custome-border mt-3 bg-light">
            <div class="card-body">
              <p style="margin-right: 10px;">زمان ارسال محصول</p>
                <div class="card custome-border my-3 bg-light">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      {% for date in datepicker %}
                      <div class="d-flex flex-row align-items-center">  
                        <div>
                          <div class="date">
                            <p>{{date.date|jalali_day_name}}</p>
                            <p>{{date.date|jalali_date}}</p>
                          </div>
                          <hr>
                          <div class="time">
                            <input type="radio" id="id_choice_field_{{date.id}}" name="choice_field" value="{{date.id}}">
                            <p class="mt-3 d-inline-block">ساعت{{date.time_range}}</p>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  </div>
                </div>  
            </div><!-- /.card-body -->
          </div>
        </form>
        <div class="card custome-border mt-3 bg-light">
          <div class="card-body">
            <p style="margin-right: 10px;">مشخصات محصولات</p>
            {% for item in cart %}
              <div class="card custome-border my-3 bg-light">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                      <div>
                        <img
                          src="{{item.product.thumbnail.url}}"
                          class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                      </div>
                      <div class="mr-3">
                        <h5>{{item.product.title}}</h5>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                      <div style="width: 80px;">
                        <h5 class="fw-normal mb-0">{{item.quantity}} </h5>
                      </div>
                      <div style="width: 180px;">
                        <h5 class="mb-0">{{item.price}}تومان</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
            {% endfor %}

        </div><!-- /.card-body -->
        </div>
      </div>
      <!-- /.col -->
      <!-- /.col -->
      <div class="col-lg-4 custome-border">
        <form  class="mb-30" action="{% url 'coupon:coupon_apply' %}" method="post">{% csrf_token %}
            <div class="input-group">
                <input type="text" id="id_code" name="code" required="" class="form-control border-0 p-4" placeholder="کد تخفیف را وارد کنید">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-dark">وارد کردن</button>
                </div>
            </div>
        </form>
        <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">خلاصه ی خرید</span></h5>
        <div class="bg-light p-30 mb-5 custome-border">
            <div class="border-bottom pb-2">
                <div class="d-flex justify-content-between mb-3">
                    <h5>قیمت محصولات</h6>
                    <h6>{{cart.get_total_price|price_format}}</h6>
                </div>
            </div>
            <div class="border-bottom pb-2 ">
                <div class="d-flex justify-content-between mb-3 mt-3">
                    <h5>تخفیف (به درصد)</h5>
                    {% if not cart.get_total_price_after_discount == 0 %}
                        <h6>{{cart.coupon.discount }}%</h6>
                    {% else %}
                        <h5>0%</h5>
                    {%endif%}
                </div>
            </div>
            <div class="pt-2">
                <div class="d-flex justify-content-between mt-2">
                    <h5>قیمت کل</h5>
                    <h5>{{cart.get_total_price_after_discount|price_format}}</h5>
                </div>
                <button type="submit" form="checkout" class="btn btn-block btn-dark  font-weight-bold my-3 py-3 rounded">پرداخت</button>
            </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
  <!-- /.content -->

  <div class="modal fade" id="modal-xl">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">تغییر آدرس</h4>
          <button type="button" class="close " data-dismiss="modal" aria-label="Close" style="margin-left:-1px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'orders:choose_address'%}" method="post">{% csrf_token %}
            {% for address in addresses %}
            <div class="post">
              <input type="radio" id="id_choice_field_{{address.id}}" name="choice_field" value="{{address.id}}" 
              {% if address.id == active_address.id %} checked="checked" {% endif %}>
              <h4 class="d-inline-block" >{{address.address}}</h4>
              <ul  style="list-style-type:none;padding:0%;">
                <li><i class="pb-3 fa fa-user"></i>  {{address.user.first_name}}</li>
                <li><i class="pb-3 fa fa-city"></i>  {{address.city}} </li>
                <li><i class="pb-3 fa fa-phone"></i>  {{address.phone_number}} </li>
                <li><i class="pb-3 fa fa-envelope"></i>  {{address.post_code}} </li>
              </ul>
            </div>
          {% endfor %}
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-dark" data-dismiss="modal">بستن</button>
          <button type="submit  " class="btn btn-dark">ثبت تغییر</button>
        </div>
        </form>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
{% else %}

<div class="card rounded bg-light" style="width:800px;margin:auto;">
  <div class="card-body">
      <div class="post">
        <p class="text-center">هیچ آدرسی وجود ندارد</p>
        <p class="text-center"><a href="{% url 'profile:address' %}" style="color:blue;">ساخت آدرس</a></p>
      </div>
  </div><!-- /.card-body -->
</div>

{% endif %}
{% endblock%}